@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qhqhgy');
  src:  url('fonts/icomoon.eot?qhqhgy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qhqhgy') format('truetype'),
    url('fonts/icomoon.woff?qhqhgy') format('woff'),
    url('fonts/icomoon.svg?qhqhgy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file-excel-o:before {
  content: "\e901";
}
.icon-microsoftexcel:before {
  content: "\e900";
  color: #217346;
}
.icon-user:before {
  content: "\e971";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-file-excel:before {
  content: "\eae2";
}
